 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/photoshop/photoshop-plain.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/illustrator/illustrator-plain.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/aftereffects/aftereffects-original.svg" />
      <p>I am currently fluent in Photoshop and Adobe Illustrator, working on getting better in Blender.</p>
    </div>
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
      <p>My favorite coding language is JS, alongside JS I know: CSS, HTML, Python, and some LUA.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-plain-wordmark.svg" />
      <p>As of now I operate in MySQL, MongoDB, PostgreSQL, AWS and Docker.</p>
    </div>
</div>
