<head>
  <meta content="Milos V." property="og:title" />
  <meta content="17 Year old Developer/Designer and Sys Admin from Germany" property="og:description" />
  <meta content="https://milosv.co/" property="og:url" />
  <meta content="https://milosv.co/favicon.png" property="og:image" />
  <meta content="#1a222c" data-react-helmet="true" name="theme-color" />
  <meta charset="application/javascript">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="favicon.png">
</head>
