<div class="user-details">
  <h1> My Previous Works  </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/discord.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Srbende Music </h3>
    <ul>
      <li> Multifunctional Discord Bot</li>
    </ul>
    <p>Multifunctional discord bot that is fully translated to Serbian. Features more than 50 commands including: Music, Economy, Administration and Fun commands.</p>
    <a class="project-link" href="https://discord.com/api/oauth2/authorize?client_id=886273384177090630&permissions=8&scope=bot">Invite the bot here!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/design.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Graphics Design </h3>
    <ul>
      <li> Check out some of my recent works. </li>
    </ul>
    <p>I've been doing graphics design for 5 years now. Check out my work below.</p>
    <a class="project-link" href="https://www.behance.net/mxl0s">Design portfolio</a>
  </div>
</div>
